<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/images.jpg" alt="Adisty Nurharumandari" class="img-thumbnail rounded-circle" width="200"/>
            <h1 class="display-4">Adisty Nurharumandari</h1>
            <p class="lead">Informatika | Sekolah Tinggi Teknik Pati</p>
        </div>
    </div>
</div>
