<h1>Hello World</h1>
<p>Welcome to node web server...</p>

<% const name = 'Adisty Nurharumandari'; %>
<h2>Hello, <%= name %></h2>

<% const email = 'adistydidis095@gmail.com'; %> <!-- Define the email variable -->

<h4><%= email %></h4>
<br>

<h4>Daftar Mahasiswa-Mahaswi</h4>
<% if (mahasiswa.length < 1) { %>
    <p>Data mahasiswa masih kosong...</p>
<% } else { %>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>Nama: <%= mhs.nama %></li>
            <li>Email: <%= mhs.email %></li>
        </ul>
    <% }); %>
<% } %>
